@model GreetTheWorld.Models.Greeting
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p style="font-size: @Model.currentFontSize;color: @Model.currentColor">
        @Model.currentGreeting
    </p>
</body>
</html>