@model FizzBuzzWoof.Models.Counter
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p style="font-size: @Model.FontSize">Hello! This site was loaded @Model.Count times since last server start.</p>
</body>
</html>
