<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <img src="C:\Users\Janek\Documents\coding\Greenfox\janektichy\week-08\day-03\ImageUploadService\ImageUploadService\Uploads\hvezdnanoc.png" alt="kuřecí péro" />
</body>
</html>