<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form id="addForm" action="/gfa/save" method="get">
        <label id="studentName">Student Name</label>
        <input type="text" name="name" id="studentName"/>
        <button type="submit">Add</button>
    </form>

</body>
</html>
<style>
    #addForm{
        display: flex;
        justify-content:space-between;
        width: 400px;
        flex-direction: row;
        font-size: 30px;
    }
    #addForm button{
        border-radius: 10px;
        background: black;
        color: white;
        text-align: center;
    }
    #addForm button:hover{
        background: white;
        color: black;
        border: 2px solid black;
    }

</style>