@model BankOfSimba.Models.BankAccount
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @Html.Raw("This is an<em> HTML </ em > text. < b > Enjoy yourself! </ b >")
    <p>BankAccount owner: @Model.Name, Balance: @Model.Balance.00 Zebra, Animal Type: @Model.AnimalType</p>
</body>
</html>